@model Sitema_de_Cursos_MVC.Models.Curso

<h2>Cadastrar Cursos</h2>

<form asp-action="Criar">
    <label>Nome:</label>
    <input type="text" name="nomeConstrutor" class="form-control">

    <label>Horas:</label>
    <input type="number" name="horasConstrutor" class="form-control">

    <label>Tipo de Curso:</label>
    <select name="tipoCursoConstrutor" class="form-control">
        <option value="Tecnico">Técnico</option>
        <option value="Superior">Superior</option>
    </select>

    <button type="submit" class="btn btn-success">Salvar</button>
</form>